<wc-window #window>
  <wc-window-title>Window</wc-window-title>
  <!--<wc-window-toolbar>- x</wc-window-toolbar>-->
  <wc-window-content>
    <form action="">
      <div>
        <label for="">Nome</label>
        <input type="text" placeholder="Nome">
      </div>

      <div>
        <label for="">Nome</label>
        <input type="text" placeholder="Nome">
      </div>

      <div>
        <label for="">Nome</label>
        <input type="text" placeholder="Nome">
      </div>
    </form>
    <form action="">
      <div>
        <label for="">Nome</label>
        <input type="text" placeholder="Nome">
      </div>

      <div>
        <label for="">Nome</label>
        <input type="text" placeholder="Nome">
      </div>

      <div>
        <label for="">Nome</label>
        <input type="text" placeholder="Nome">
      </div>
    </form>
  </wc-window-content>
</wc-window>

<button (click)="window.toggle()">Open window</button>
