<wc-window #window [width]="900" [height]="700" [container]="'body'">
  <wc-window-title>Window Test This is a Title</wc-window-title>

  <wc-window-content id="window">
    <form action="">
      <div>
        <label for="">Nome</label>

        <input type="text" placeholder="Nome">
      </div>

      <div>
        <label for="">Nome</label>

        <input type="text" placeholder="Nome">
      </div>

      <div>
        <label for="">Nome</label>

        <input type="text" placeholder="Nome">
      </div>
    </form>
    <form action="">
      <div>
        <label for="">Nome</label>

        <input type="text" placeholder="Nome">
      </div>

      <div>
        <label for="">Nome</label>

        <input type="text" placeholder="Nome">
      </div>

      <div>
        <label for="">Nome</label>

        <input type="text" placeholder="Nome">
      </div>
    </form>
    <input type="button" value="Open anoother window" (click)="another.toggle()">

    <wc-window #another [width]="200" [height]="200" [container]="'.wc-window'">
      <wc-window-title>SubWindow</wc-window-title>

      <wc-window-content>
        <form action="">
          <div>
            <label for="">Nome</label>

            <input type="text" placeholder="Nome">
          </div>

          <div>
            <label for="">Nome</label>

            <input type="text" placeholder="Nome">
          </div>

          <div>
            <label for="">Nome</label>

            <input type="text" placeholder="Nome">
          </div>
        </form>
        <form action="">
          <div>
            <label for="">Nome</label>

            <input type="text" placeholder="Nome">
          </div>

          <div>
            <label for="">Nome</label>

            <input type="text" placeholder="Nome">
          </div>

          <div>
            <label for="">Nome</label>

            <input type="text" placeholder="Nome">
          </div>
        </form>
      </wc-window-content>

      <wc-window-footer>
        <div class="footer">
          <div>
            <input type="checkbox" name="" id="">
          </div>
          <div class="flex-spacer"></div>
          <div>
            <input type="button" value="Submit subwindow">
            <input type="button" value="Cancel subwindow" (click)="another.close()">
          </div>
        </div>
      </wc-window-footer>
    </wc-window>
  </wc-window-content>

  <wc-window-footer>
    <div class="footer">
      <div>
        <input type="checkbox" name="" id="">
      </div>
      <div class="flex-spacer"></div>
      <div>
        <input type="button" value="Submit">
        <input type="button" value="Cancel">
      </div>
    </div>
  </wc-window-footer>
</wc-window>

<button (click)="window.toggle()">Toggle window</button>

<div id="container">

</div>
