<wc-window #window [opened]="true">
  <wc-window-title>Window Test This is a Title</wc-window-title>
  <wc-window-content>
    <form action="">
      <div>
        <label for="">Nome</label>
        <input type="text" placeholder="Nome">
      </div>

      <div>
        <label for="">Nome</label>
        <input type="text" placeholder="Nome">
      </div>

      <div>
        <label for="">Nome</label>
        <input type="text" placeholder="Nome">
      </div>
    </form>
    <form action="">
      <div>
        <label for="">Nome</label>
        <input type="text" placeholder="Nome">
      </div>

      <div>
        <label for="">Nome</label>
        <input type="text" placeholder="Nome">
      </div>

      <div>
        <label for="">Nome</label>
        <input type="text" placeholder="Nome">
      </div>
    </form>
  </wc-window-content>
</wc-window>

<button (click)="window.toggle()">Toggle window</button>
