.wc-window {
  background-color: #fff;
  box-sizing: border-box;
  display: none;
  flex-direction: column;
  position: fixed;
  z-index: 10;
  border: 1px solid black;
  overflow: hidden;

  * {
    box-sizing: border-box;
  }

  &-minimized {
    width: 200px;
    height: 21px;

    .wc-window-content,
    {
      display: none;
    }
  }

  &-header,
  &-content,
  &-footer {
    width: 100%;
  }

  &-header {
    border-bottom: 1px solid #000;
    -webkit-app-region: drag;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    cursor: move;

    &-title {
      flex: 1 0;
    }

    &-toolbar {
      flex-grow: 0;
      flex-shrink: 0;

      button {
        width: 45px;
        border: none;
        background-color: transparent;
        transition: background-color .75s ease;

        &:hover {
          background-color: #888;
          color: #fff;
        }

        &:focus {
          outline: 0;
        }
      }
    }
  }

  &-content {
    overflow: auto;
    flex: 1 0;
  }

  &-footer {
    border-top: 1px solid black;
  }

  &-opened {
    display: flex;
  }

  &-resize-corner {
    > div {
      opacity: 0;
      width: 16px;
      height: 16px;
      position: fixed;
    }

    .wc-window-top-left-corner {
      cursor: nwse-resize;
    }

    .wc-window-bottom-left-corner {
      cursor: nesw-resize;
    }

    .wc-window-top-right-corner {
      cursor: nesw-resize;
    }

    .wc-window-right-bottom-corner {
      cursor: nwse-resize;
    }
  }

  &-resize-bar {
    > div {
      opacity: 0;
      position: fixed;
    }

    .wc-window-top-bar {
      height: 8px;
      cursor: ns-resize;
    }

    .wc-window-right-bar {
      width: 8px;
      cursor: ew-resize;
    }

    .wc-window-bottom-bar {
      height: 8px;
      cursor: ns-resize;
    }

    .wc-window-left-bar {
      width: 8px;
      cursor: ew-resize;
    }
  }

}
